body {
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
}
h1 {
  font-weight: 700;
  text-align: center;
  font-size: revert;
  margin: revert-layer;
}
h2 {
  font-weight: 500;
}
h3 {
  font-weight: 400;
}
h4 {
  font-weight: 300;
}

   ul.hr {
    text-align: center;
    margin: 0;
   }
   ul.hr li {
    display: inline; 
    margin: 5%;
   }
